h1 {
  text-align: center;
}

#randomNumber {
  text-align: center;
}

#tabellone {
  text-align: center;
  margin-inline: 211px;
  margin-bottom: 20px;
}

#tabellone div {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  width: 60px;
  margin: 8px;
}

.evidenziata {
  background-color: rgb(221, 221, 67);
}

p {
  font-weight: bold;
}
